<%- include('partials/header.ejs') %>

<div class="midSection">
    <h1>About or company</h1>
    <p>We got glazed, chocolate iced, raspberry filled, chocolate iced glazed, glazed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
</div>

<%- include('partials/footer.ejs') %>