<%- include('partials/header.ejs') %>

<div class="midSection">
    <form action="">
        <label for="suggestion">Got suggestions on new donut flavors? Shoot us a message.</label>
        <div class="mb-3 mt-1">
            <textarea class="form-control" id="suggestion" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-light btn-outline-dark">Submit</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>