<%- include('partials/header.ejs') %>

    <div class="midSection">
        <h1>Welcome to the Donut Shop</h1>
        <p>We bake the hottest, freshest donuts that you can imagine. You want donuts? We got it.</p>
    </div>

<%- include('partials/footer.ejs') %>