<%- include('partials/header.ejs') %> 

    <div id="home-background">
        <div id="message">
        <h1>IN THE MOOD TO CATCH A FLICK? SEE WHAT MOVIES ARE PLAYING NOW!</h1>
        <form action="/results" method="GET">
            <button type="submit" id="movieButton">Show me a list of Movies!</button>
        </form>
        </div>
    </div>

<%- include('partials/footer.ejs') %> 