* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    text-align: center;
}

h1 {
    margin: 2vh 2vw;
}

form {
    margin: 2vh 2vw;
}

form label {
    margin-right: 1vw;
}

form button {
    margin-top: 2vh;
}

button {
    border: white solid 2px;
    border-radius: 25px;
    background-color: navy;
    color: white;
    height: 70px;
    width: 175px;
    font-size: 20px;
}

h2 {
    margin: 1vh 1vw;
}

.price {
    font-size: 75px;
    font-weight: bold;
    text-shadow: white 1px 1px;
    margin-bottom: 2vh;
}